USE [master]
GO
/****** Object:  Database [formally]    Script Date: 31/03/2026 11:07:50 ******/
CREATE DATABASE [formally]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'formar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\formar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'formar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\formar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [formally].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [formally]
GO
/****** Object:  Table [dbo].[acao]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_disciplina] [int] NOT NULL,
	[inicio] [date] NULL,
	[fim] [date] NULL,
	[id_instituicao] [int] NOT NULL,
	[horas] [int] NOT NULL,
	[modo] [varchar](10) NOT NULL,
 CONSTRAINT [PK_acao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aula]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aula](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_acao] [int] NOT NULL,
	[data] [date] NULL,
	[duracao] [int] NULL,
 CONSTRAINT [PK_aula] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[disciplina]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[disciplina](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[disciplina] [varchar](50) NOT NULL,
	[versao] [varchar](50) NULL,
	[data_criacao] [date] NOT NULL,
 CONSTRAINT [PK_disciplina] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado](
	[cod] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](32) NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formando]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formando](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[id_acao] [int] NULL,
	[numero] [varchar](50) NULL,
	[idade] [int] NULL,
	[id_anterior] [int] NULL,
	[email] [varchar](64) NOT NULL,
	[senha] [varchar](64) NOT NULL,
	[cod_estado] [int] NULL,
 CONSTRAINT [PK_formando] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instituicao]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instituicao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[designacao] [varchar](50) NULL,
 CONSTRAINT [PK_instituicao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topico]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_aula] [int] NOT NULL,
	[ordem] [int] NULL,
	[texto] [varchar](256) NULL,
 CONSTRAINT [PK_topico] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turma]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_acao] [int] NOT NULL,
	[id_formando] [int] NOT NULL,
	[designacao] [varchar](50) NULL,
 CONSTRAINT [PK_turma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[disciplina] ADD  CONSTRAINT [DF_disciplina_data_criacao]  DEFAULT (getdate()) FOR [data_criacao]
GO
ALTER TABLE [dbo].[acao]  WITH CHECK ADD  CONSTRAINT [CK_acao] CHECK  (([modo]='Misto' OR [modo]='Presencial' OR [modo]='Online'))
GO
ALTER TABLE [dbo].[acao] CHECK CONSTRAINT [CK_acao]
GO
/****** Object:  StoredProcedure [dbo].[ativar_aluno]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ativar_aluno]
	-- Add the parameters for the stored procedure here
	@aluno as varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update formando set cod_estado = 1 where nome = @aluno
END
GO
/****** Object:  StoredProcedure [dbo].[entrada_aluno]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[entrada_aluno]
	-- Add the parameters for the stored procedure here
	@aluno as varchar(50),
	@pw as varchar(64),
	@retorno as int output,
	@retorno_estado as varchar(32) output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if exists (select * from formando where nome = @aluno and senha = @pw and cod_estado = 1)
	begin
		set @retorno = 1
		declare @cEstado as int
		set @cEstado = (select cod_estado from formando where nome = @aluno)
		set @retorno_estado = (select descricao from estado where cod = @cEstado)
	end
	else if exists (select * from formando where nome = @aluno and senha = @pw and cod_estado != 1)
	begin
		set @retorno = 2
		set @retorno_estado = ''
	end

	else
	begin
		set @retorno = 0
		set @retorno_estado = ''
	end
END
GO
/****** Object:  StoredProcedure [dbo].[inserir_aluno]    Script Date: 31/03/2026 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[inserir_aluno]
	-- Add the parameters for the stored procedure here
	@aluno as varchar(50),
	@idade as int,
	@email as varchar(64),
	@pw as varchar(64),
	@codEstado as int,
	@retorno as int output

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if not exists(select * from formando where nome = @aluno)
		begin
			insert into formando (nome, idade, email, senha, cod_estado) 
			values (@aluno, @idade, @email, @pw, @codEstado)
			set @retorno = 1
		end
	else
		begin
			set @retorno = 0
		end
END
GO
USE [master]
GO
